<body>
    <div id="wrapper">
    <header class="header">
        <div class="header-container">
            <a href="/"><img src="/images/site-content/stjerne-logo.png" alt="" class="site-logo"></a>
            <a href="/" class="site-title"><%= site.sitename %></a>
        </div>
    </header>