:root {
    --primary-color: #7B2727 ;
    --secondary-color: #60695C;
    --background-color: #430C0C ;
    --white-color: #fff;
    --black-color: #000;
    --primary-fontfamily: 'Verdana', sans-serif;
}